body {
margin:6rem 6rem;
font-family: helvetica, sans-serif;
}

h1 {
font-size: 3.25rem;
font-weight: bold;

margin-bottom:24px;
}

h2 {
font-size: 2rem;
font-weight: 300;
margin-bottom:3.5rem;
}

h3 {
font-size: 1.4rem;
font-weight: bold;
margin-bottom:1.5rem;
}

.table1 {
border:0;
font-size: 1.2rem;
font-weight:300;
margin-bottom:2.5rem;
line-height:1.6rem;
}

.table1 td {
padding-top:0;
padding-bottom:.7rem;
}

.table1 .date {
width:6rem;
vertical-align:top;
}

a, a:visited {
  color: 	#007BA7;
  text-decoration:none;
}

a:hover {
  border-bottom: 1px 	#007BA7 solid;
}
