body {
margin:6rem 6rem;
font-family: helvetica, sans-serif;
}

h1, h2 {
letter-spacing: -0.03em;
}

h1 {
font-size: 48px;
font-weight: bold;

margin-bottom:24px;
}

h2 {
font-size: 30px;
font-weight: 300;
}

a, a:visited {
  color: 	#007BA7;
  text-decoration:none;
}

a:hover {
  border-bottom: 1px 	#007BA7 solid;
}
